.header
  .title
    = link_to "#", class: "title" do
      単語帳ガチャ
  .box
    .box__menu
      メニュー
      = link_to "#", class: "box__menu" do
        = icon('fas', 'bars')
    .box__user
      パンダ太郎
      = link_to "#", class: "box__user" do
        = icon('fas', 'user-cog')
