.header
  .title
    = link_to root_path, class: "title" do
      単語帳ガチャ
  %ul.menu
    %li.menu__main
      .menu__main__link
        メニュー
        = icon('fas', 'bars')
      %ul.menu__main__sub
        %li.menu__main__sub__list
          = link_to "単語一覧", root_path, class: "menu__main__sub__list__link"
        %li.menu__main__sub__list
          = link_to "ガチャを引く", gacha_user_words_path(@user), class: "menu__main__sub__list__link"
    %li.menu__main
      .menu__main__link
        = current_user.name
        = icon('fas', 'user-cog')
      %ul.menu__main__sub
        %li.menu__main__sub__list
          = link_to "ユーザー編集", edit_user_path(current_user), class: "menu__main__sub__list__link"
        %li.menu__main__sub__list
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu__main__sub__list__link"
