.header
  .title
    = link_to root_path, class: "title" do
      単語帳ガチャ
  .box
    .box__menu
      メニュー
      = link_to "#", class: "box__menu" do
        = icon('fas', 'bars')
    .box__user
      = current_user.name
      = link_to edit_user_path(current_user), class: "box__user" do
        = icon('fas', 'user-cog')
