.main
  = form_for [@word] do |f|
    %ul.form
      %li
        = f.text_field :name, class: 'form__word', placeholder: '単語を入力してください'
      %li
        = f.text_area :mean, class: 'form__mean', placeholder: '単語の意味や説明を入力してください'
      = f.submit '登録', class: 'form__submit'

  %table.word{border: 2}
    %tr.word__title
      %th{width: "130px"} 単語名
      %th 意味 
      -# %th.word__rare{width: "80px"} レア度
    - @words.each do |word|
      %tr
        %td 
          =link_to edit_word_path(word), class: "word__name" do
            = word.name
        %td 
          = word.mean
        -# %td.word__rare  
        -#   - if word.score <= 1
        -#     N 
        -#   - elsif 1 < word.score && 4 >= word.score 
        -#     R
        -#   - elsif 4 < word.score && 8 >= word.score
        -#     SR 
        -#   - elsif 8 < word.score && 10 >= word.score
        -#     SSR
        -#   - else
        -#     LG
        